body {
    font-family: ravie;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}
.centre {
    font-family: sans-serif;
    color: #808080;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 600px;
    
}
# ex
{
    direction:rtl;
}

