body {
    font-family: ravie;
    background-color: lightgrey;
    margin-top: 75px;
}

.centre {
    font-family: sans-serif;
    color: #808080;
}
html {
  background: url(../ui/coding.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.line-break{
  width: 350px;
  border-top: 1px solid white;
  margin: 0 auto;
}

.prof-box{
  height: 450px;
  width: 400px;
  background: RGBA(0,0,0,0.3);
  padding: 40px;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.prof-pic{
  border-radius: 50%;
  height: 200px;
  width: 200px;

}
.resume img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: right;
  margin-top: 70px;
  margin-right: 80px;
}
.resume a{
  font-family: sans-serif;
  color: white;
  float: right;
  margin-top: 120px;
  margin-right: 10px;

}
.container {
  display: flex;
}


.bold {
    font-weight: bold;
}

.img-medium {
    height: 600px;
    
}
#ex1 {
    direction:rtl;
}
html, body {
  font-family: Verdana;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}

p {
  max-width: 65%;
  min-width: 500px;
}
div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: lightgrey;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}

.nav {
  padding-left: 40px;
}
h2 {
	color: #ffffff;
	font-size: 56px; 
	 text-align: center;
  
}


.hero {
	background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}